<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/header :: header}"></head>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="flex-fill container d-flex flex-column mt-4">
    <div class="mb-auto">
        <h1 th:text="${event.name}">Event Name</h1>
        <p th:text="${event.description}">Description</p>
        <p><strong>Location:</strong> <span th:text="${event.location}"></span></p>
        <p><strong>Price:</strong> $<span th:text="${event.price}"></span></p>
        <p><strong>Capacity:</strong> <span th:text="${event.capacity}"></span></p>
        <p><strong>Date:</strong> <span th:text="${event.startTime}"></span></p>

        <a th:href="@{/events/{id}/edit(id=${event.id})}" class="btn btn-warning mt-3">Edit Event</a>
        <form th:action="@{/events/{id}/delete(id=${event.id})}" method="post" style="display:inline">
            <button type="submit" class="btn btn-danger mt-3">🗑️ Delete Event</button>
        </form>
        <div class="mt-3">
            <a th:href="@{/events}" class="btn btn-secondary">Back to Events</a>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
