<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">>
    <title th:text="${user.username} + ' - Profile'">User Profile</title>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</head>
<body class="d-flex flex-column min-vh-100">

<main class="flex-fill container mt-4">
    <h1 th:text="${user.username}">Username</h1>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Birth Date: </strong> <span th:text="${user.birthDate}"></span></p>

    <a th:href="@{/users/{id}/edit(id=${user.id})}" class="btn btn-warning mt-3">Edit User</a>
    <form th:action="@{/users/{id}/delete(id=${user.id})}" method="post" style="display:inline">
        <button type="submit" class="btn btn-danger mt-3">🗑️ Delete User</button>
    </form>

    <div class="mt-4">
        <a th:href="@{/events}" class="btn btn-secondary">Back to events</a>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
