<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(title='Home')}"></head>
<body class="d-flex flex-column min-vh-100">

<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="flex-fill container mt-4">
    <h1>Welcome to Eventify</h1>
    <p>This is the home page.</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Events</h5>
                    <p class="card-text">Browse upcoming events.</p>
                    <a th:href="@{/events}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bookings</h5>
                    <p class="card-text">Check your bookings.</p>

                    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a th:href="@{admin/bookings}" class="btn btn-primary btn-block">Go</a>
                    </div>

                    <div th:if="${!#authorization.expression('hasRole(''ADMIN'')')}">
                        <a th:href="@{/bookings}" class="btn btn-primary btn-block">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tickets</h5>
                    <p class="card-text">View your tickets.</p>
                    <a th:href="@{/tickets}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
